// everything
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
}

html {
	font-size: 100%;
}

// container
.container {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

// display
.d {
	&-inline {
		display: inline;
	}
	&-block {
		display: block;
	}
	&-inline-block {
		display: inline-block;
	}
	&-none {
		display: none;
	}
	&-flex {
		display: flex;
	}
	&-inherit {
		display: inherit;
	}
	&-initial {
		display: initial;
	}
}

// visibility
.visible {
	visibility: visible;
}
.invisible {
	visibility: hidden;
}

// position
.pos {
	&-static {
		position: static;
	}
	&-relative {
		position: relative;
	}
	&-fixed {
		position: fixed;
	}
	&-absolute {
		position: absolute;
	}
	&-sticky {
		position: sticky;
	}
	&-inherit {
		display: inherit;
	}
	&-initial {
		display: initial;
	}
}

// vertical align
.yalign {
	&-baseline {
		vertical-align: baseline;
	}
	&-top {
		vertical-align: top;
	}
	&-middle {
		vertical-align: middle;
	}
	&-bottom {
		vertical-align: bottom;
	}
	&-sub {
		vertical-align: sub;
	}
	&-super {
		vertical-align: super;
	}
	&-text-top {
		vertical-align: text-top;
	}
	&-text-bottom {
		vertical-align: text-bottom;
	}
	&-inherit {
		display: inherit;
	}
	&-initial {
		display: initial;
	}
}

// overflow
.over {
	&-visible {
		overflow: visible;
	}
	&-hidden {
		overflow: hidden;
	}
	&-scroll {
		overflow: scroll;
	}
	&-auto {
		overflow: auto;
	}
	&-inherit {
		display: inherit;
	}
	&-initial {
		display: initial;
	}
}

.center {
	&-parent {
		position: relative;
	}
	&-xy {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&-x {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	&-y {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

// border
.bs {
	&-dot {
		border-style: dotted;
	}
	&-dash {
		border-style: dashed;
	}
	&-sol {
		border-style: solid;
	}
	&-dou {
		border-style: double;
	}
	&-no {
		border-style: none;
	}
	&-hid {
		border-style: hidden;
	}
}

// typography
.text {
	&-center {
		text-align: center;
	}
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
	&-justify {
		text-align: justify;
	}
	&-over {
		text-decoration: overline;
	}
	&-line {
		text-decoration: line-through;
	}
	&-under {
		text-decoration: underline;
	}
	&-none {
		text-decoration: none;
	}
	&-uppercase {
		text-transform: uppercase;
	}
	&-lowercase {
		text-transform: lowercase;
	}
	&-capitalize {
		text-transform: capitalize;
	}
}

.font {
	&-italic {
		font-style: italic;
	}
}

.monospace {
	font-family: monospace;
}

// heading sizes
h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

// link
.link {
	text-decoration: none;
	color: grey;
	cursor: pointer;
}

.link:hover {
	color: black;
}

// list
.list {
	&-none {
		list-style-type: none;
	}
	&-inside {
		list-style-position: insisde;
	}
	&-outside {
		list-style-position: outside;
	}
}

// table
.table {
	&-collapse {
		border-collapse: collapse;
	}
}

// float
.float {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
	&-none {
		float: none;
	}
	&-inherit {
		float: inherit;
	}
}

// clear
.clear {
	&-both {
		float: both;
	}
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
	&-none {
		float: none;
	}
	&-inherit {
		float: inherit;
	}
}

// clear fix
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

// flex box
.flex {
	&-row {
		flex-direction: row;
		&r {
			flex-direction: row-reverse;
		}
	}
	&-col {
		flex-direction: column;
		&r {
			flex-direction: column-reverse;
		}
	}
	&-wrap {
		flex-wrap: wrap;
	}
	&-wrapr {
		flex-wrap: wrap-reverse;
	}
	&-nowrap {
		flex-wrap: nowrap;
	}
}

.justify-content {
	&-start {
		justify-content: flex-start;
	}
	&-center {
		justify-content: center;
	}
	&-end {
		justify-content: flex-end;
	}
	&-around {
		justify-content: space-around;
	}
	&-between {
		justify-content: space-between;
	}
	&-evenly {
		justify-content: space-evenly;
	}
}

.align-items {
	&-start {
		align-items: flex-start;
	}
	&-center {
		align-items: center;
	}
	&-end {
		align-items: flex-end;
	}
	&-baseline {
		align-items: baseline;
	}
	&-stretch {
		align-items: stretch;
	}
}

.align-self {
	&-start {
		align-self: flex-start;
	}
	&-center {
		align-self: center;
	}
	&-end {
		align-self: flex-end;
	}
	&-baseline {
		align-self: baseline;
	}
	&-stretch {
		align-self: stretch;
	}
}

.align-content {
	&-start {
		align-content: flex-start;
	}
	&-center {
		align-content: center;
	}
	&-end {
		align-content: flex-end;
	}
	&-around {
		align-content: space-around;
	}
	&-between {
		align-content: space-between;
	}
	&-evenly {
		align-content: space-evenly;
	}
	&-stretch {
		align-content: stretch;
	}
}

// button
.btn {
	outline: none;
	border: none;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}

.form-group {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	padding: 0.5rem;
	label {
		margin-bottom: 0.5rem;
	}
	input {
		padding: 0.5rem;
		outline: none;
		border: 1px solid grey;
	}
	input:focus {
		border: 1px solid black;
	}
	input[type="submit"] {
		border: none;
		outline: none;
	}
}
