* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// measurements

.container {
	margin: 0px auto;
}

// borders

// border style
.bs {
	&-dot {
		border-style: dotted;
	}
	&-dash {
		border-style: dashed;
	}

	&-sol {
		border-style: solid;
	}

	&-dou {
		border-style: double;
	}

	&-no {
		border-style: none;
	}

	&-hid {
		border-style: hidden;
	}
}
